@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is an Index card application. Uses the MVC scaffolding template.</p>
<p>Future enhancement will be to support different topics.</p>
<p>Made this app to read for Microsoft certification exam.</p>

<h3>Contact</h3>
<address>
    Email address - <a href="mailto:vishsivaraman@outlook.com">vishsivaraman@outlook.com</a>
</address>
